* {
    margin: 0px;
    padding: 0px;
}

:root {
    --animation: all 300ms;
    --bgcolor: #e2e2e2;
    --fgcolor: #242424;
    --hcolor: #ffe400;
    --margin: 1rem;
    --box-padding: 1rem;
    --text-padding: 0 1rem;
    --acolor: #b48ead;
    --ahover:  #a3be8c;
    --avisited: #d08770;
    --border-radius: 0.6rem;
    --margintop: 1rem;
    --marginbottom: 1rem;
    --marginround: 1rem;
    --txnormalsize: 1rem;
    --txh1size: 3rem;
    --txh2size: 2rem;
    --normal-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --h1-font-family: 'Raleway', sans-serif;
}

.container {

    display: grid;
    grid-template-areas: 
    "nav header header header header footer"
    "nav main main main main footer"
    "nav main main main main footer"
    "nav main main main main footer"
    "aside aside aside aside aside aside";
    width: 100%;
    height: 100vh;
}

header {
    grid-area: header;
    align-self: flex-start;
    text-align: left;
    padding: var(--box-padding);
    margin: var(--margintop);
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

h1 {
    font-size: var(--txh1size);
    font-family: var(--h1-font-family);
}
