* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --box-font-family: sans-serif;
    --header-font-family: 'Quicksand', sans-serif;
    --fgcolor: #242424;
    --transdarkcolor: #242424d2;
    --boxgcolor: #e2e2e2;
    --highlightcolor: #ffe400;
    --shadowcolor: #aaaaaa;
    --link-color: #4a86cf;
    --main-bg: url('../img/white_alternate.jpg');
    --title-bg: url('../img/bg_yellow.svg');
    --dark-bg: url('../img/triangle_pattern.jpg');
    --portrait: url('../img/portrait.jpg');
}

header {
    height: calc(100vh - 3rem);
    background: var(--portrait);
    color: var(--lightcolor);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}


nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: var(--boxgcolor);
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2vw;
    text-align: center;
    color: var(--boxgcolor);
    filter: opacity(60%);
}

button {
    font-size: 2rem;
    background-color: var(--fgcolor);
    color: var(--lightcolor);
    text-align: end;
}

ul {
    list-style-type: none;
}
a,
a:active {
    text-decoration: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--fgcolor);
    background-color: var(--highlightcolor);
    transition: all 600ms ease;
}

.menuitem {
    background-color: none;
    color: inherit;
    font-family: var(--header-font-family);
    transition: all 600ms ease;
}

.menuitem:hover {
    background-color: var(--highlightcolor);
    color: var(--fgcolor);
}

.menuitem:visited {
    color: var(--fgcolor);
}

.active::before {
    content: ">>";
    font-size: 1rem;
    font-weight: 900;
}

.active {
    border-bottom: 2px solid var(--fgcolor);
}
