/* A * jel az úgynevezett univerzális kijelölő, amit ebbe a definícióba írsz, minden elemre érvényes lesz.
   Ezt a definíciót ezentúl minden stíluslapod elejére írd be! */
* {
	box-sizing: border-box; /* Erről a következő leckében lesz szó. */
}

:root{
	--bg: #f2eeeb;
	--fg: #000;
	--navbg: #590202;
	--link: #b8bfa8;
	--link-hover: #fff;
	--h1clr: #733636;
	--span-color: #bf0426;
	--default-font-size: 20px;
}
body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: 'Raleway', sans-serif;
	font-size: var(--default-font-size);
	margin: 0;
}
/* A FEJLÉC */
nav {
	padding-block: var(--default-font-size);
	background-color: var(--navbg);
}
.menu-link {
	color: var(--link);
	text-decoration: none;
	padding: var(--default-font-size);
	font-weight: 800;
}
.menu-link:hover {
	color: var(--link-hover);
	background-color: var(--span-color);
	transition: all ease 1s;
}
main{
	padding-inline: var(--default-font-size);
}
/* A FŐ TARTALMI RÉSZ STÍLUSDEFINÍCIÓI */
h1 {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: calc(2.5 * var(--default-font-size));
	color: var(--h1clr);
}
h2 {
	font-size: calc(1.2 * var(--default-font-size));
}
p{
	padding: calc(1.5 * var(--default-font-size)) 0px;
}
span {
	display: inline-block;
	padding-inline: var(--default-font-size);
	color: var(--span-color);
	font-family: 'Dancing Script', cursive;
	font-size: calc(1.4 * var(--default-font-size));
	font-weight: 800;
}
/* LÁBLÉC */
footer {
	text-align: center;
	font-size: calc (0.8 * var(--default-font-size));
}
.inline {
	display: inline;
}
