/*This is a CSS file*/
* {
  margin: 0; /* A margin jellemző külső margót állít be egy elemnek. Itt minden elem margóját lenullázzuk. */
  padding: 0; /* A padding jellemző belső térközt állít be egy elemnek. Ezt is lenullázzuk, hogy ne a böngésző alapértelmezett értéke  legyen, hanem amit beállítunk. */
  box-sizing: border-box;
}

:root {
  transition-property: 600ms;
}

body {
  background-color: #030e12;
  background-image: url("../img/emrecan-arik-K7fDlscNjFk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background-color: cyan;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/*let's make some griddy stuff*/

header {
  grid-area: header;
  padding: 2vw;
  border-top-left-radius: 30px;
}
aside {
  grid-area: aside;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  border-bottom-right-radius: 20px;
}

nav img {
  size: 5rem 5rem;
}

p {
  padding: 1rem;
}
/*main site elements style*/

.grid-container {
  display: grid;
  /*defining grid area*/
  grid-template-areas:
    "header header header header header header"
    "aside main main main main main"
    "footer footer footer footer footer footer";
  /*grid gap, the space between the fractions of the grid*/
  grid-gap: 1px;
  color: #e2e2e2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 5rem;
  padding: 0.3rem;
}

main,
aside,
footer {
  padding: 1rem;
}
/*secondary HTML element item styles*/

h1 {
  font-size: 4rem;
}

/*middle sized displays, tablets, old laptops below 900p*/

@media screen and (min-width: 50rem) {
  header {
    border-top: 2px solid;
    border-top-left-radius: 20px;
  }
  nav img {
    margin: auto;
  }

  nav {
    position: fixed;
    display: flex;
    width: 5rem;
    height: 100%;
    flex-direction: column;
    background-color: #000000;
    justify-content: center;
    border-right: #e2e2e2 2px solid;
  }

  nav:hover {
    width: 16rem;
    transition: 600ms ease-in-out;
  }

  nav li {
    justify-content: center;
    padding: 1rem;
    list-style: none;
  }

  nav li:hover {
    background: #e2e2e2;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 5px #e2e2e2b9,
                0 0 25px #e2e2e2a9, 
                0 0 50px #e2e2e280,
                0 0 100px #e2e2e260;
    transition: width 600ms ease-in-out;
  }

  nav span {
    color: black;
    opacity: 0;
    padding-top: 0.5rem;
    text-align: left;
    font-size: 1.4rem;
    display: inline;
    position: absolute;
    left: -999px;
    transition: width 600ms ease-in-out;
  }

  nav:hover span {
    opacity: 1;
    display: inline;
    position: absolute;
    left: 100px;
    transition: 600ms ease-in-out;
  }

  nav a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  footer {
    border-bottom: #e2e2e2 2px solid;
    border-bottom-right-radius: 20px;
  }
}

/*high res and huge display layout*/
@media screen and (min-width: 1400px) {
  /*defining grid area layout on large screens*/
  .grid-container {
    grid-template-areas:
    "header header header header header header footer footer"
    "main main main aside aside aside footer footer"
    "main main main aside aside aside footer footer"
    "main main main aside aside aside footer footer";
  }

  header {
    border-top: 2px solid;
    border-top-left-radius: 20px;
  }

  h1 {
    font-size: 7em;
  }
  footer {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 32px;
  }
  main {
    border-radius: 0px;
    border-bottom: 2px solid;
  }
  aside {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom: 2px solid;
  }
  footer {
    border-top: #e2e2e2 2px solid;
    border-bottom: 2px solid;
    border-bottom-right-radius: 20px;
  }
}

@media screen and (max-width: 50rem) {
  .grid-container {
    margin: 0px;
  }
  .grid-container {
    grid-template-areas:
      "header header header header header header"
      "aside aside aside aside aside aside"
      "main main main main main main"
      "footer footer footer footer footer footer";
  }
  header {
    border-top: 2px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  h1 {
    font-size: 4em;
  }
  aside,
  main {
    border-radius: 0px;
  }
  footer {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 32px;
    margin-bottom: 3rem;
  }
  nav {
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100vw;
    height: 5rem;
    flex-direction: row;
    background-color: #000000;
    border-radius: 0px;
    justify-content: center;
    margin: auto;
    border-top: #e2e2e2 2px solid;
  }

  nav img {
    height: 2rem;
  }

  nav li {
    height: 5rem;
    display: inline-flex;
    justify-content: center;
    padding: 1rem;
    list-style: none;
  }

  nav li:hover {
    height: 5rem;
    background: #e2e2e2;
    color: #fff;
    border-radius: 0px;
    box-shadow: 0 0 5px #e2e2e2,
                0 0 25px #e2e2e2, 
                0 0 50px #e2e2e2,
                0 0 100px #e2e2e2;
    transition: 600ms;
  }

  nav span {
    display: none;
  }
  nav:hover img {
    height: 2rem;
  }
  footer {
    margin-bottom: 5rem;
    border-bottom: 2px solid;
  }
}
