/* A * jel az úgynevezett univerzális kijelölő, amit ebbe a definícióba írsz, minden elemre érvényes lesz.
   Ezt a definíciót ezentúl minden stíluslapod elejére írd be! */
* {
	margin: 0; /* A margin jellemző külső margót állít be egy elemnek. Itt minden elem margóját lenullázzuk. */
	padding: 0; /* A padding jellemző belső térközt állít be egy elemnek. Ezt is lenullázzuk, hogy ne a böngésző alapértelmezett értéke  legyen, hanem amit beállítunk. */
	box-sizing: border-box; 
}
body {
	background-color: #070709;
	color: #cccccc;
	font-family: 'Taviraj', serif;
	max-width: 1920px; /* Az oldal ne legyen 1920px-nél nagyobb. Így jó meg tudjuk tervezni pl. a fejléc kép méretét. */
	margin: 0 auto;
}
/* A FEJLÉC STÍLUSDEFINÍCIÓI */
#fejlec-kep {
	width: 100%; /* A fejléc kép úgy szép, ha mindig kitölti az oldal szélességét. */
}
nav {
	height: 4rem;
	justify-content: space-around; /* A sormagasság egyenlő a nav elem magasságával, így a tartalom függőlegesen középre kerül. Ez egy hasznos trükk! */
	text-align: center;
	padding-right: 1rem;
	border-bottom: 0.25rem dashed #666666;
}
.menu-link {
	color: #ff4c50;
	font-size: 1.5rem;
	text-decoration: none; 
	padding-left: 1rem;
	padding-right: 1rem;
}
.menu-link:hover {
	color: #ffffff;
	text-decoration: none;
}
/* A FŐ TARTALMI RÉSZ STÍLUSDEFINÍCIÓI */
h1 {
	font-family: 'Merriweather', serif;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
	margin-left: 1.5rem;
	padding-left: 4rem;
	background-image: url("../img/filmtekercs.png");
	background-position: left;
	background-repeat: no-repeat;
	vertical-align: middle;
}

h2 {
	font-family: 'Merriweather', serif;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

section {
	padding: 1.2rem;
	justify-content: space-evenly;
}
img {
	max-width: 100%; /* Minden kép szélessége legfeljebb akkora, amennyi az őt tartalmazó elem szélessége. */
}

.plakat {
	width: 100%;
	padding: 0rem 1.2rem; /*a plakátnak adtam egy kis paddingot, így ugyanolyan széles, mint a szöveg felette*/
}

p { 
	font-size: 1.1rem;
	margin-bottom: 1.25rem; 
}
/* A LÁBLÉC STÍLUSDEFINÍCIÓI */
footer {
	color: #666666;
    text-align: center;
	border-top: 0.25rem dashed #666666;
	line-height: 4rem;
    height: 4rem;
}

@media screen and (max-width: 50rem) {

	.menu-link {
		font-size: 1.2rem;
		padding-left: .5rem;
		padding-right: .5rem;
	}

	h1, h2 {
		font-size: 1.2rem;
	}
	
}
