/* A * jel az úgynevezett univerzális kijelölő, amit ebbe a definícióba írsz, minden elemre érvényes lesz.
   Ezt a definíciót ezentúl minden stíluslapod elejére írd be! */
* {
	margin: 0; /* A margin jellemző külső margót állít be egy elemnek. Itt minden elem margóját lenullázzuk. */
	padding: 0; /* A padding jellemző belső térközt állít be egy elemnek. Ezt is lenullázzuk, hogy ne a böngésző alapértelmezett értéke  legyen, hanem amit beállítunk. */
	box-sizing: border-box; 
}
body {
	background-color: #eeeeee;
	color: #555555;
	font-family: 'Open Sans', sans-serif;
	max-width: 1920px; /* Az oldal ne legyen 1920px-nél nagyobb. Így jó meg tudjuk tervezni az elemek maximális méretét. */
	margin: 0 auto;
}
/* A FEJLÉC STÍLUSDEFINÍCIÓI */
header {
	height: 500px;
	background: url("../img/vitorlas-hatterkep.jpg") no-repeat bottom right;
	padding: 30px;
}
h1 {
	font-family: 'Yellowtail', cursive;
	font-size: 80px;
	font-weight: normal;
	letter-spacing: 3px;
	text-align: center;
	color: #ffffff;
	background-color: rgba(0,0,0,0.6);
	height: 150px;
	line-height: 150px;
 }
#focim-kiemeles {
	color: #67bec2;
}
/* A FŐ TARTALMI RÉSZ STÍLUSDEFINÍCIÓI */
main {
	padding: 40px 30px;
}
h2 {
	font-size: 30px;
	margin-bottom: 20px;
}

.card_grid {
	display: inline-block;
	justify-content: space-between;
	padding-bottom: 10rem;
}

.business-card {
	width: 25%;
    height: 500px;
    float: left;
    padding: 15px;
    text-align: center;
}
p { 
	font-size: 18px;
	padding: 15px 0px;
}
span {
	font-family: 'Yellowtail', cursive;
}
.sailboot {
	width: 200px;
	height: 200px;
	background: url("../img/szines-vitorlas.png");
	background-size: contain;
}
.sailboot:hover {
	background: url("../img/vitorlas.png");
	background-size: contain;
}
.left {
	float: left;
}
.right {
	float: right;
}
img {
	width: 100%;
}
img:hover {
	opacity: 0,5;
}
/* A LÁBLÉC STÍLUSDEFINÍCIÓI */
footer {
	clear: both;
	background-color: #67bec2;
    text-align: center;
	height: 60px;
}


