/* A * jel az úgynevezett univerzális kijelölő, amit ebbe a definícióba írsz, minden elemre érvényes lesz.
   Ezt a definíciót ezentúl minden stíluslapod elejére írd be! */
* {
	margin: 0; /* A margin jellemző külső margót állít be egy elemnek. Itt minden elem margóját lenullázzuk. */
	padding: 0; /* A padding jellemző belső térközt állít be egy elemnek. Ezt is lenullázzuk, hogy ne a böngésző alapértelmezett értéke  legyen, hanem amit beállítunk. */
	box-sizing: border-box; 
}
body {
	background-color: #eeeeee;
	color: #555555;
	font-family: 'Open Sans', sans-serif;
	max-width: 1600px; /* Az oldal ne legyen 1920px-nél nagyobb. Így jó meg tudjuk tervezni az elemek maximális méretét. */
	margin: 0 auto;
}
/* A FEJLÉC STÍLUSDEFINÍCIÓI */
header {
	height: 30vh;
	background: url("../img/vitorlas-hatterkep.jpg") no-repeat bottom right;
	padding: 10vh;
}
h1 {
	font-family: 'Yellowtail', cursive;
	font-size: 7vw;
	font-weight: normal;
	letter-spacing: 3px;
	text-align: center;
	color: #ffffff;
	background-color: rgba(0,0,0,0.6);
	min-height: 10vh;
	line-height: 10vh;
}

#focim-kiemeles {
	color: #67bec2;
	margin-block: 10vh;
	min-height: 12vh;
	line-height: 12vh;
}
/* A FŐ TARTALMI RÉSZ STÍLUSDEFINÍCIÓI */
main {
	padding: 2rem;
}
h2 {
	font-size: 2rem;
	margin-bottom: 1.25rem;
}

p { 
	font-size: 1.5rem;
	padding: 0.5rem;
	align-self: flex-end;
}
span {
	font-family: 'Yellowtail', cursive;
}

img {
	width: 100%;
}
img:hover {
	opacity: 0.5;
}
/* A LÁBLÉC STÍLUSDEFINÍCIÓI */
footer {
	clear: both;
	background-color: #67bec2;
    text-align: center;
}

.card_grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-bottom: 3rem;
}

.business-card {
	min-width: 25%;
    height: fit-content;
    padding: 1rem;
    text-align: center;
	background-color: #d4c64b;
	border-radius: 1rem;
	margin: 0.5rem;
}

.business-card img {
	max-height: 50%;
	border-radius: 1rem;
}

.sailboat {
	width: 10vw;
	height: 10vw;
	background: url("../img/szines-vitorlas.png");
	background-size: contain;
}
.sailboat:hover {
	background: url("../img/vitorlas.png");
	background-size: contain;
}
.left {
	float: left;
}
.right {
	float: right;
}

@media screen and (min-width: 85rem) {

	.card_grid {
		display: grid;
		
		grid-template-columns: repeat(4, 1fr);
	}
	
	h1 {
		font-size: 7vw;
	}
}
@media screen and (max-width: 50rem) {

	.card_grid {
		display: grid;
		
		grid-template-columns: repeat(1, 1fr);
	}
	
	.business-card {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 100%;
    	
    	text-align: right;
		background-color: #d4c64b;
		border-radius: 1rem;
		margin: 0.5rem;
	}

	.business-card img {
		max-width: 45%;
		border-radius: 1rem;
	}

	.business-card p {
		position: absolute;
		right: 1rem;
		bottom: 0;
		font-size: 4vw;
	}

	header {
		height: 30vh;
		background: url("../img/vitorlas-hatterkep.jpg") no-repeat bottom right;
		padding: 10vh;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}

	h1 {
		font-size: 7vw;
		letter-spacing: normal;
	}
}