    /*classes. in random order :-D muhhahha*/
  .flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: justify;
  }

  .flex-container > * {
    padding: 0px;
    flex: 1 100%;
  }
  /*the main sequence of the pake, here goes the article, and the image box
  Ez itten a fő eleme a weboldalnak, ide kerülnek a cikkek, meg a képes izéé, az a képgaléria vagy mi..
  mármint, ha majd megtanulok képgalériát készíteni.. Egyelőre megelégszem ezzel az agyon div-ezett megoldással*/
  .main {
    text-align: justify;
    padding: 10px;
    padding-bottom: 30px;
    min-width: 50%;
  }
  /* Ez a fejléc.. Itt van a vállalkozás neve, meg a logoja, meg valami durva háttér, ami felkelti a figyelmet és meg is tartja.. elméletileg
  This is the header of the webpage.. Here goes the branding of the owner,
  the noteworthy background image, what amaze the reader and hopefully catch his/her attention
  ^^ azért írok angolul is kommentet, mert egyrészt tanulom az angolt is, másrészt, lehet, hogy létezik olyan angol anyanyelvű ember, akinek
  az a hobbija, hogy magyar nyelvű weboldalsablonok forráskódját olvassa */
  .header {
    text-align: justify;
    padding-left: 0px;
    background-image: url("img/white_alternate.jpg");
    background-size: auto;
  }
  /*Itt jön a lábléc.. Hát egyelőre csak egy "vissza"-gombot tettem bele, lásd lejjebb valahol a legalján.. de terveim azok, hogy majd ide jön egy
  menüpontokat felsorakoztató, de szöveges linkelése a webszájt fontosabb fő felületeinek. Egyelőre ez irreleváns, majd a harmadik, vagy a negyedik leckére
  megoldom (nem lesek ám, de sejtem, hogy a több oldalas weboldal jön, külön CSS fájllal)*/
  .footer {
    width: auto;
    position: fixed;
    right: 0;
    bottom: 0;
    align-content: flex-end;
  }
  /*Ez a jobb oldali oszlopa a weboldalnak. Legalábbis ha jól csináltam.. :-D */
  .aside1 {
    text-align: justify;
    max-width: fit-content;
    padding: 0px;
    /*background-image: url('img/triangle_pattern.jpg');*/
  }
  /*Ez meg a bal oldal.. nem politika, tájolás.. :-D */
  .aside2 {
    align-content: flex-end;
    padding: 10px;
    padding-bottom: 30px;
    
  }
  /* buttonz ez itt a gombok stilizálása */
  .btn-group .button {
    background-color:#242424; /* Green naja, az eredeti zöld volt, de nekem nem tetszett */
    color: #ffffff;
    padding: 5px 5px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width:max-content;
    display: block;
  }
  /* Prevent double borders << hát ha közök vannak a gombok közt, akkor mindegy.. vagy, ha nincs border.. lehet, hogy ezt majd ki is veszem..
  .btn-group .button:not(:last-child) {
    border-bottom: none; 
  }
*/
  .btn-group .button:hover {
    color: #ffffff;
    background-color: #fffb00;
  }
  @media all and (min-width: 900px) {
    .aside { flex: 1 auto; }
    .main    { flex: 3 0px; }
    .aside1 { order: 1; } 
    .main    { order: 2; }
    .aside2 { order: 3; }
    .footer  { order: 4; }
  }
  /* tags, site elements 
  tegek meg szájt elemek */
  html {
    scroll-behavior: smooth;
  }
  body{
      font-family: Georgia, 'Times New Roman', Times, serif;
      padding: 0px;
  }
  img{
      float: left;
      margin: 15px;
      border-style: solid;
      border-color: #ffffff;
      border-width: 10px;
      background-color: #242424;
      max-height: 240px;
  }
  h1{
      font-size: 66px;
  }
  mark{
    background-color: #fffb00;
    color: #242424;
    padding: 5px;
  }
  th{
          border-style: solid;
          border-color: #ffffff;
          border-radius: 0px;
          border-width: 5px;
          width: 70px;
          height: 30px;
          text-align: center;
          background-color: #242424;
  }
  td{
          border-style: solid;
          border-color: #ffffff;
          border-radius: 0px;
          border-width: 5px;
          width: 70px;
          height: 30px;
          text-align: center;
          background-color: #242424;
          color: #ffffff;
  }
  /* links 
  linkek.. mármint nem az, hogy semmirekellő lumpen alakok, hanem csak simán hiperhivatkozások.. na jó, mi az a hiperhivatkozás?
  na jó, itt befejeztem, haladjunk tovább!! */
  a:link {
    color: #00ffff;
    background-color: #ffffff;;
    text-decoration: none;
  }

  a:visited {
    color: #242424;
    background-color: #ffffff;;
    text-decoration: none;
  }

  a:hover {
    color: #ffbb00;
    background-color: #ffffff;;
    text-decoration:none;
  }

  a:active {
    color: #fb0;
    background-color: #ffffff;;
    text-decoration:line-through;
  }