* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #d0def0;
    font-size: 20px;
    color: #272a2a;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
#logo {
    width: 120px;
    height: 100px;
    float: left;
}
h1 {
    float: left;
    font-size: 2.5rem;
    margin: 30px;
    font-family: 'Poppins', sans-serif;
}
nav {
    clear: both;
    font-size: 1.2rem;
    background-color: #35702f;
    color: #ffffff;
}
li {
    display: inline-block;
    padding: 20px;
    color: #272a2a;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}
a:hover {
    color: #d0def0;
}
section {
    padding: 20px;
    margin: 10px;
    background-color: #f0ffef;
}
h2 {
    margin: 15px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}
.fel-oszlop {
    float: left;
    width: 50%;
}
img {
    width: 60%;
    margin: 0 10px 10px 0;
    float: left;
}
p {
    font-size: 20px;
    color: #272a2a;
    font-family: 'Open Sans', sans-serif;
}
footer {
    clear: both;
    padding: 30px;
    text-align: center;
    color: #272a2a;
    font-family: 'Open Sans', sans-serif;
}
