/* squarewave */
@font-face {
	font-family: Squarewave;
	font-style: normal;
	font-weight: 500;
	src: local("Squarewave"), url(squarewave.woff2) format("woff2"), url(squarewave.woff) format("woff");
	font-display: auto;
}
/* squarewave-bold */
@font-face {
	font-family: Squarewave;
	font-style: normal;
	font-weight: 700;
	src: local("Squarewave-Bold"), url(squarewave-bold.woff2) format("woff2"), url(squarewave-bold.woff) format("woff");
	font-display: auto;
}
/* squarewave-italic */
@font-face {
	font-family: Squarewave;
	font-style: italic;
	font-weight: 400;
	src: local("Squarewave-Italic"), url(squarewave-italic.woff2) format("woff2"), url(squarewave-italic.woff) format("woff");
	font-display: auto;
}

