/* A * jel az úgynevezett univerzális kijelölő, amit ebbe a definícióba írsz, minden elemre érvényes lesz.
   Ezt a definíciót ezentúl minden stíluslapod elejére írd be! */
* {
	margin: 0; /* A margin jellemző külső margót állít be egy elemnek. Itt minden elem margóját lenullázzuk. */
	padding: 0; /* A padding jellemző belső térközt állít be egy elemnek. Ezt is lenullázzuk, hogy ne a böngésző alapértelmezett értéke  legyen, hanem amit beállítunk. */
	box-sizing: border-box; 
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Fuzzy Bubbles', cursive;
    background: linear-gradient(-90deg, orange, yellow); /* Színátmenetes háttér. */
    margin: 0 auto; /* Ez a sor középre rendezi az egész oldal tartalmát. */
    padding: 0%;
    text-align: center;
    max-width: 100%;
}
header {
    padding: 0%;
}
h1{
    font-size: 10em;
    color: #ffffff;
    padding: 2%;
}
h2 {
    text-align: left;
    color: #6B8754;
    font-size: 2em;
}
nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background: linear-gradient(-90deg, orange, yellow); /* Színátmenetes háttér. */
    font-size: 1.5em;
}
a {
    text-decoration:none;
    color:black;
    font-family: monospace;
    font-size: 1.5em;
    padding-left: 1vw;
    padding-right: 1vw;
}
 a:hover{
    color:#ffa600;
}
main {
    background:white;
    padding: 3vw;
    font-size: 1.5em;
}
section {
    margin-bottom: 5vw;
    margin-top: 5vw;
    padding-bottom: 5vw;
}
p {
  text-align: justify;
  padding-bottom: 2vw;
  padding-left: 4vw;
  padding-top: 2vw;
  
}
.section-img {
    float: left;
    max-height: 300px;
    padding-bottom: 1vw;
    padding-right: 2vw;
    padding-top: 2vw;
}
.center {
    text-align: center;
}
.container {
    width: 100%;
    background: url(../img/header.jpg);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.webpagetitle {
    top: 1vw;
    left: 1vw;
}
