/* A * jel az úgynevezett univerzális kijelölő, amit ebbe a definícióba írsz, minden elemre érvényes lesz.
   Ezt a definíciót ezentúl minden stíluslapod elejére írd be! */
* {
	margin: 0; /* A margin jellemző külső margót állít be egy elemnek. Itt minden elem margóját lenullázzuk. */
	padding: 0; /* A padding jellemző belső térközt állít be egy elemnek. Ezt is lenullázzuk, hogy ne a böngésző alapértelmezett értéke  legyen, hanem amit beállítunk. */
	box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(-90deg, orange, yellow); /* Színátmenetes háttér. */
    margin: 0 auto; /* Ez a sor középre rendezi az egész oldal tartalmát. */
    padding: 30px;
    text-align: center;
    max-width: 1024px;
}
header {
    background: white;
    padding: 2vw;
}
img {
    max-width: 100%;
}
h1{
    font-size: 3em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 1em;
    border-bottom:1px solid black;
}
nav {
    padding-top: 1.2em;
}
a {
    text-decoration:none;
    color:black;
    font-family: monospace;
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
 a:hover{
    color:#ffa600;
}
main {
    background:white;
    padding:2vw;
    font-size: 1.2em;
}
section {
    margin-bottom: 3em;
}
h2 {
    color: #6B8754;
    font-size: 1.5em;
    border-bottom:1px solid black;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
}
p {
  text-align:justify;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    height: fit-content;
}

.section-img {
    width: 70%; 
}
.center {
    text-align: center;
}

