/* A * jel az úgynevezett univerzális kijelölő, amit ebbe a definícióba írsz, minden elemre érvényes lesz. */
* {
	margin: 0; /* A margin jellemző külső margót állít be egy elemnek. Itt minden elem margóját lenullázzuk. */
	padding: 0; /* A padding jellemző belső térközt állít be egy elemnek. Ezt is lenullázzuk, hogy ne a böngésző alapértelmezett értéke  legyen, hanem amit beállítunk. */
	box-sizing: border-box; 
}

:root {
	--sunyellow: #fdb441;
	--lightblue: #ddf8ff;
    --bg-white: #ffffff;
    --border-color: #cacbce;
	--color-dark: #242424;
    --bg-img: url("../img/hatter.png");
    --cloud: url("../img/felho.png");
    --summer-bg: url("../img/nyar-hatter.jpg");
	--palmtrees: url("../img/palmtrees.png");
	background-color: var(--lightblue);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 800px; /* A képek 800px szélesek, ezért a tároló elem maximum szélességét is ekkorára állítjuk. */
	margin: 0 auto;
}
/* A FEJLÉC STÍLUSDEFINÍCIÓI */
header {
	position: relative;
	text-align: center;
	padding: 3rem;
	background-color: var(--lightblue);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: contain;
	color: var(--color-dark);
	height: 30vh;
}

/* A FŐ TARTALMI RÉSZ STÍLUSDEFINÍCIÓI */
main {
	background-color: var(--lightblue);
	background-image: var(--bg-img);
	background-repeat: repeat;
	max-height: fit-content;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	padding: 1rem;
}
div {
	margin: 0 auto; /* Középre igazítja a div elemet. */
	max-height: fit-content;
}

picture {
	border: none;
	padding-top: 2rem;
}

img {
	width: 100%; /* A kép kitölti az őt tartalmazó elem szélességét. (Az oldalon a div szélességével fog megegyezni.) */
	border-radius: 2rem;
}
/* A LÁBLÉC STÍLUSDEFINÍCIÓI */

h1 {
	position: absolute;
	bottom: -5vh;
	left: 3vh;
	z-index: 5;
	font-size: 8vh;
	font-family: 'Gloria Hallelujah', cursive;
	color: var(--sunyellow);
	filter:drop-shadow(
		2px 2px 2px
		var(--color-dark)
	);
}

footer {
	background-image: var(--bg-img);
	background-repeat: repeat;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	height: 4rem;
	text-align: center;
	vertical-align: middle;
	padding: 1rem;
	color: var(--bg-white);
}

.napocska {
	position: absolute;
	top: 1vh;
	left: 4vh;
	max-width: 14vh;
	z-index: 1;
}

.cloud {
	position: absolute;
	top: 10vh;
	max-width: 10vh;
	z-index: 2;
	animation: gogocloud 16000ms linear infinite;
	animation-direction: normal;
	filter:drop-shadow(0px 0px 6px gray);
}

.cloud2 {
	position: absolute;
	top: 12vh;
	max-width: 6vh;
	z-index: 3;
	animation: gogocloud2 6000ms linear infinite;
	animation-direction: normal;
	filter:drop-shadow(0px 0px 6px gray);
}
.cloud3 {
	position: absolute;
	top: 12vh;
	max-width: 14vh;
	z-index: 3;
	animation: gogocloud3 10000ms linear infinite;
	animation-direction: normal;
	filter:drop-shadow(0px 0px 6px gray);
}

.palmtrees {
	position: absolute;
	right: 0vh;
	bottom: 0vh;
	max-width: 26vh;
	z-index: 4;
}

@keyframes gogocloud {
	0% {left: -10vmax;
		opacity: 0%;}
	10% {opacity: 100%;}
	95% {opacity: 100%;}
	100% {left: 20vmax;
		opacity: 0%;}
  }

@keyframes gogocloud2 {
	0% {left: -10vmax;
		opacity: 0%;}
	10% {opacity: 100%;}
	95% {opacity: 100%;}
	100% {left: 25vmax;
		opacity: 0%;}
  }

  @keyframes gogocloud3 {
	0% {left: 20vmax;
		opacity: 0%;}
	10% {opacity: 100%;}
	95% {opacity: 100%;}
	100% {left: -2vmax;
		opacity: 0%;}
  }