/* A * jel az úgynevezett univerzális kijelölő, amit ebbe a definícióba írsz, minden elemre érvényes lesz. */
* {
	margin: 0; /* A margin jellemző külső margót állít be egy elemnek. Itt minden elem margóját lenullázzuk. */
	padding: 0; /* A padding jellemző belső térközt állít be egy elemnek. Ezt is lenullázzuk, hogy ne a böngésző alapértelmezett értéke  legyen, hanem amit beállítunk. */
	box-sizing: border-box; 
}

:root {
	--lightblue: #ddf8ff;
    --bg-white: #ffffff;
    --border-color: #cacbce;
	--color-dark: #242424;
    --bg-img: url("../img/hatter.png");
    --cloud: url("../img/felho.png");
    --summer-bg: url("../img/nyar-hatter.jpg"); 
}

body {
	background-color: var(--bg-white);
	font-family: Arial, Helvetica, sans-serif;
}
/* A FEJLÉC STÍLUSDEFINÍCIÓI */
header {
	text-align: center;
	padding: 3rem;
	border-bottom: 1px solid var(--border-color);
	background-image: var(--summer-bg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	color: var(--color-dark);
}

/* A FŐ TARTALMI RÉSZ STÍLUSDEFINÍCIÓI */
main {
	background-color: var(--lightblue);
}
div {
	margin: 0 auto; /* Középre igazítja a div elemet. */
	max-width: 50rem; /* A képek 800px szélesek, ezért a tároló elem maximum szélességét is ekkorára állítjuk. */
}
img {
	width: 100%; /* A kép kitölti az őt tartalmazó elem szélességét. (Az oldalon a div szélességével fog megegyezni.) */
}
/* A LÁBLÉC STÍLUSDEFINÍCIÓI */

h1 {
	font-size: 6rem;
}

.napocska {
	max-width: 4rem;
}

footer {
	background-image: var(--bg-img);
	background-repeat: repeat;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	height: 4rem;
	text-align: center;
	vertical-align: middle;
	padding: 1rem;
	color: var(--bg-white);
}