* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
ome default value

    --bg: #242424;
    --fg: #e2e2e2;
    --padding: 1rem;
    --margin: 0.3rem;
    font-size: 16px;

ome color

}

ul {
    background-color: #658CBF; /* kék */
    list-style-position: inside;
    padding: 20px 30px;
}
li {
    line-height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* 1. Ha listaelem fölé viszed az egérmutatót, megváltozik a háttérszín. */
ul li:hover {
    background-color: #F2AF5C; /* narancs */
}

ul li:hover ul {
    background-color: #F2AF5C; /* narancs */
}

/* 3. Ha a második szintű listaelem fölé viszed az egérmutatót, megváltozik a háttérszín. */
ul li li:hover {
    background-color: #F2D5CE; /* barack */
}

ul li li:hover ul {
    background-color: #F2D5CE; /* barack */
}

/* 5. Ha a harmadik szintű listaelem fölé viszed az egérmutatót, megváltozik a háttérszín. */
ul li li li:hover {
    background-color: #D98F8F /* sötét rózsaszín */
}

.padding {
    padding: var(--padding);
}

.margin {
    margin: var(--margin)
}
