/* A * jel az úgynevezett univerzális kijelölő, amit ebbe a definícióba írsz, minden elemre érvényes lesz.
   Ezt a definíciót ezentúl minden stíluslapod elejére írd be! */
* {
	box-sizing: border-box; /* Erről a következő leckében lesz szó. */
}
body {
	background-color:#e8e2d6;
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-size: 1.25rem;
}
body#float1 {
	width: 60vw;
	margin-inline: auto;
}
/* A FŐ TARTALMI RÉSZ STÍLUSDEFINÍCIÓI */
main {
	padding: 1.875rem;
}
h1 {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 3.25rem;
	color: #733636;
	font-weight: normal;
	margin: 2.5rem 0rem;
}
h2 {
	font-size: 1.5rem;
	text-align: center;
	margin: 2.5rem 0rem 3.75rem 0rem;
	font-weight: normal;
}

p {
    padding: 2rem;
	text-align: justify;
	text-justify: inter-word;
}
.left-floated {
	float: left;
}
.right-floated {
	float: right;
}

/*padding-class, hogy a szöveg ne simuljon rá a képre*/
.padding_1rem {
	padding: 1rem 1rem 1rem 0rem;
}

/*max-width of the little sailboatz in any screensize*/

.sailboat {
	max-width: 15%;
}

/*max-width of the mountain on large screen sizezzz*/

.mountain {
	max-width: 25vw;
}

/* LÁBLÉC */
footer p{
	align-content: center;
	align-items: center;
	text-align: center;
}

@media screen and (max-width: 60rem) {
		.mountain {
			max-width: 50%;
		}
		h1 {
			font-size: 2rem;
		}
}