h1 {
        font-weight: bold;
}
mark {
    background-color: #ffb751;
    border-radius: 3px;
    padding: 5px;
}
p {
    text-align: justify;
    padding: 10px;
}

body {
    background-repeat: no-repeat;
    background-image: url('img/makos-guba.jpg');
}
table {
    align-items: center;
}