h1 {
        font-weight: bold;
}
mark {
    background-color: #ffb751;
    border-radius: 3px;
    padding: 5px;
}
p {
    text-align: justify;
    padding: 10px;
}
div {
    background-image: url('makos-guba.jpg');
    padding: 20px;
    width: 80%;
}
table {
    align-items: center;
}