:root {
   --bg-color: #f9f9f9;
   --fg-color: #000000;
   --menu-bg-color: #242424;
}


nav {
    background-color: var(--menu-bg-color);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.2rem;
}

nav li a {

  font-size: 2rem;
}

ul li{
  display: inline-block;
  font-size: 1rem;
}

a {
    border: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    transition: all 500ms ease-in-out;
  }

  .dropdown-content::before {
    position: absolute;
    z-index: -1;
    background-color: var(--bg-color);
    content: "";
    width: 3rem;
    height: 3rem;
    transform: rotate(45deg);
    left: 2.5rem;

  }

a {
    color: var(--bg-color);
  }

a:hover {
    color: aqua;
    text-shadow: 0px 0px 5px aqua;

}
  
  .dropdown-content {
    top: 2.8rem;
    display: none;
    position: absolute;
    left: 0%;
    padding: 0px 0px;
    min-width: 8rem;
    background-color: var(--bg-color);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.2rem;
    transition: all 500ms ease-in-out;
  }
  
  .dropdown-content li {
    color: black;
    text-decoration: none;
    display: block;
    padding: 1rem;
    text-align: left;
    border-radius: inherit;
  }
  
  .dropdown-content li:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

.dropdown-content li a {
  font-size: 1rem;
  color: var(--fg-color);
}
.dropdown-content li a:hover {
  font-size: 1rem;
  color: magenta;
}

  .dropdown:hover .dropdown-content {
    display: block;
  }
